<html>
    <head>
        <title>Go Template Example</title>
    </head>
</html>
<body>
    <aside>
        {{ template "sidebar" . }}
    </aside>

    <main>
        {{ template "main" . }}
    </main>
</body>
