<html>
<head>
    <title>Golang Template Layout Example</title>
</head>
<body style="text-align: center;">
    <main style="width:800px; background-color: lightblue; margin: auto;">
        {{ template "main" . }}
    </main>
</body>
</html>
